
@model Slider


<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleInputEmail1"> Sekil</label>
        <input asp-for="@Model.Photo" class="form-control" aria-descriedby="emailHelp">
        <span class="text-danger" asp-validation-for="@Model.Photo"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1"> Arxafon sekli</label>
        <input asp-for="@Model.Photo2" class="form-control" aria-descriedby="emailHelp">
        <span class="text-danger" asp-validation-for="@Model.Photo2"></span>
    </div>
    <div class="form-group">
        <label for="">Basliq </label>
        <input asp-for="@Model.Title" class="form-control">
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="">Alt Basliq </label>
        <input asp-for="@Model.SubTitle" class="form-control">
        <span asp-validation-for="@Model.SubTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="">Izahat</label>
        <input asp-for="@Model.Description" class="form-control">
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Deyis</button>
    <button type="submit" class="btn btn-info" asp-action="Index">Geri</button>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

