





@model List<UserVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}
<table class="table table-bordered" style="border: 5px solid #ddd !important;">
    <thead>
        <tr>
            <th scope="col">Event</th>
        </tr>
        <tr>
            <th scope="col"><a class="btn btn-facebook" asp-controller="Event" asp-action="Create">ADD</a>
        </tr>
    </thead>
    <tbody style="border: 5px solid #ddd !important;">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">E-mail</th>
            <th scope="col">Rollar</th>
            <th scope="col">Status</th>
            <th scope="col">operasiyalar</th>

        </tr>

    </tbody>
    @foreach (UserVM user in Model)
    {


        <tbody style="border: 5px solid #ddd !important;">
            <tr>
                <th scope="col"> @user.Id</th>
                <th scope="col">@user.Name</th>
                <th scope="col">@user.Surname</th>
                <th scope="col">@user.Username</th>
                <th scope="col"> @user.Email </th>
                <th scope="col">@user.Role</th>
                <th scope="col">
                    @if (user.IsDeactive)
                    {
                        <span class="text-danger">DeActive</span>
                    }
                    else
                    {
                        <span class="text-success">Active</span>
                    }
                </th>
                @if (User.Identity.Name != user.Username)
                {
                    @if (user.IsDeactive)
                    {

                        <th scope="col">
                            <a class="btn btn-danger" asp-route-id="@user.Id" asp-action="Active">Activlesdir</a>
                        </th>
                    }
                    else
                    {
                        <th scope="col">
                            <a class="btn btn-success" asp-route-id="@user.Id" asp-action="Active">DeActivlesdir</a>




                            <a class="btn btn-info" asp-route-id="@user.Id" asp-action="ChangeRole">Rolun deyis</a>
                        </th>

                    }
                }

            </tr>
        </tbody>

    }

</table>
<div class="my-3 d-flex justify-content-center">
    <nav aria-label="">
        <ul class="pagination pagination-lg">
            @for (int i = 1; i <= ViewBag.Pagecount; i++)
            {
                if (ViewBag.Page == i)
                {
                    <li class="page-item disabled">
                        <a class="page-link">@i</a>
                    </li>
                }

                else
                {
                    <li class="page-item ">
                        <a class="page-link" asp-controller="Event" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>

                }

            }

        </ul>
    </nav>
</div>










